body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://www.baltana.com/files/wallpapers-16/Digital-Art-HD-4K-Wallpapers-41715.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}


nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


input {
    padding: 10px;
    margin: 10px auto;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    width: 300px;
    display: block;
}

button {
    padding: 10px 15px;
    margin: 10px auto;
    border-radius: 8px;
    border: none;
    background: #ff4d6d;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #c77dff;
}

#addBtn {
    width: 300px;
    display: block;
}

.vissza button {
    width: auto;
    padding: 8px 20px;
}

#lista {
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#lista div {
    background: rgba(255,255,255,0.85);
    color: black;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

#lista span {
    flex: 1;
}

#lista button {
    width: auto;
    padding: 6px 12px;
    background: #ff4d6d;
}

#lista button:hover {
    background: #c77dff;
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    #lista div {
        flex-direction: column;
        gap: 10px;
    }

    input,
    #addBtn {
        width: 80%;
    }
}